<h1>Add a contact</h1>
<form action="/add_contact_form" method="post">
  <!-- contact -->
  <label for="first_name">First name:</label>
  <input class="form-control" type="text" name="first_name">
  <label for="last_name">Last name:</label>
  <input class="form-control" type="text" name="last_name">
  <label for="job_title">Job title:</label>
  <input class="form-control" type="text" name="job_title">
  <!-- address -->
  <label for="street">Street:</label>
  <input class="form-control" type="text" name="street">
  <label for="city">City:</label>
  <input class="form-control" type="text" name="city">
  <label for="zip">Zip:</label>
  <input class="form-control" type="text" name="zip">
  <label for="state">State:</label>
  <input class="form-control" type="text" name="state">
  <label for="country">Country:</label>
  <input class="form-control" type="text" name="country">
  <!-- phone -->
  <label for="type">Type:</label>
  <input class="form-control" type="text" name="type">
  <label for="number">Phone Number:</label>
  <input class="form-control" type="text" name="number">
  <!-- email -->
  <label for="email">email:</label>
  <input class="form-control" type="text" name="email">
  <button class="btn btn-success" type="submit">Add</button>
</form>
<a href="/"><button class="btn btn-danger">Cancel</button></a>
