<form action="/address_form/<%=@selected_contact.id%>" method="post">
  <label for="street">Street:</label>
  <input type="text" name="street">
  <label for="city">City:</label>
  <input type="text" name="city">
  <label for="zip">Zip:</label>
  <input type="text" name="zip">
  <label for="state">State:</label>
  <input type="text" name="state">
  <label for="country">Country:</label>
  <input type="text" name="country">
  <button type="submit">Add to contact</button>
</form>
