
<form action="/address_form" method="post">
  <label for="street">Street:</label>
  <input type="text" name="street">
  <label for="city">City:</label>
  <input type="text" name="city">
  <label for="zip">Zip:</label>
  <input type="text" name="zip">
  <label for="state">State:</label>
  <input type="text" name="state">
  <label for="country">Country:</label>
  <input type="text" name="country">
  <button type="submit">Add to contact</button>
</form>

<form action="/phone_form" method="post">
  <label for="type">Type:</label>
  <input type="text" name="type">
  <label for="number">Phone Number:</label>
  <input type="text" name="number">
  <button type="submit">Add number to contact</button>
</form>

<form action="/email_form" method="post">
  <label for="email">email</label>
  <input type="text" name="email">
  <button type="submit">Add email to contact</button>
</form>
