<form action="/address_form" method="post">
  <label for="street">Street:</label>
  <input class="form-control" type="text" name="street">
  <label for="city">City:</label>
  <input class="form-control" type="text" name="city">
  <label for="zip">Zip:</label>
  <input class="form-control" type="text" name="zip">
  <label for="state">State:</label>
  <input class="form-control" type="text" name="state">
  <label for="country">Country:</label>
  <input class="form-control" type="text" name="country">
  <button class="btn btn-success" type="submit">Add to contact</button>
</form>
<hr>
<form action="/phone_form" method="post">
  <label for="type">Type:</label>
  <input class="form-control" type="text" name="type">
  <label for="number">Phone Number:</label>
  <input class="form-control" type="text" name="number">
  <button class="btn btn-success" type="submit">Add number to contact</button>
</form>
<hr>
<form action="/email_form" method="post">
  <label for="email">Email</label>
  <input class="form-control" type="text" name="email">
  <button class="btn btn-success" type="submit">Add email to contact</button>
</form>
<a href="/contact/<%=Contact.get_working_contact.id%>"><button class="btn btn-danger">Cancel</button></a>
